{% extends "layouts/main.html" %}
{% block pageTitle %}You are ineligible{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">You are ineligible</h1>
    <p class="govuk-body">Alas, your inibility to guess the airspeed velocity of an unladen swallow makes you ineligible for a juggling licence.</p>
    <p class="govuk-body">Please go to <a href="#">HM Clown School</a> to learn the airspeed velocities of relevant birds.</p>
  </div>
</div>
{% endblock %}