{% extends "layouts/main.html" %}

{% block pageTitle %}
  How many balls dost thou juggle? - Apply for a juggling licence
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/juggling-balls-answer" method="post">

      {{ govukRadios({
        name: "juggling-balls",
        fieldset: {
          legend: {
            text: "How many balls dost thou juggle?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "3 or more",
            text: "Three or more"
          },
          {
            value: "1 or 2",
            text: "One or two"
          },
          {
            divider: "or"
          },
          {
            value: "None",
            text: "None, I cannae juggle"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>
{% endblock %}