{% extends "layouts/main.html" %}

{# Define the service name once to ensure consistency between the browser tab and the page header #}
{% set serviceName = "Apply for a juggling licence" %}

{% block pageTitle %}
  Start - {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      <p class="govuk-body-l" id="start-intro">
        Use this service to:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>apply for a new jugling licence</li>
      </ul>

      {# 
        Using aria-describedby connects the "Start now" button 
        to the introductory text for screen reader users.
      #}
      {{ govukButton({
        text: "Start now",
        href: "/juggling-balls",
        isStartButton: true,
        attributes: {
          "aria-describedby": "start-intro"
        }
      }) }}

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <p class="govuk-body">
        You can also <a class="govuk-link" href="#">register by post</a> if you prefer.
      </p>

      <p class="govuk-body">
        The online service is available in Welsh and English.
      </p>

    </div>
  </div>

{% endblock %}