{% extends "layouts/main.html" %}

{% block pageTitle %}
  Airspeed velocity - Apply for a juggling licence
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/swallow-answer" method="post">

      {{ govukInput({
        label: {
          text: "What is the airspeed velocity of an unladen swallow?",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        suffix: {
          text: "mph"
        },
        id: "swallow",
        name: "swallow"
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>
{% endblock %}